/laba_1/ThreadPool/bin/
/laba_1/ThreadPool/obj/
/laba_1/.vs/
/laba_2/SPP_laba_2/bin/
/laba_2/SPP_laba_2/obj/
/laba_2/.vs/
/laba_3/laba_3/bin/
/laba_3/laba_3/obj/
/laba_3/.vs/
/laba_4/laba_4/bin/
/laba_4/laba_4/obj/
/laba_4/.vs/
/laba_5/laba_5/bin/
/laba_5/laba_5/obj/
/laba_5/.vs/
/laba_6/laba_6/bin/
/laba_6/laba_6/obj/
/laba_6/.vs/
/laba_7/laba_7/bin/
/laba_7/laba_7/obj/
/laba_7/laba_7/.vs/